<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1955</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<style>
    h2{
        color:purple;
    }
    .name{
        margin-left: 50px;
        font-size: 20px;
    }
    .container{
        margin: 0 auto;
    }
</style>

<body>
    <div class="container"><br>
        <div class="jumbotron text-center">
            <h2>A simple API server which communicates directly over URL requests</h2>
            <h1>Directions:</h1>
            <p>1. To add a new user to the database, type in '/new/USERNAME/'  ex) '/new/Mikey'</p>
            <p>2. To delete a user, type in '/remove/USERNAME/'  ex) '/remove/Mikey'</p>
            <p>3. To view information about a specific user, type in '/USERNAME/'  ex) '/Mikey'</p>
            <p>4. To edit a user's name, type '/USERNAME/NEWNAME'  ex) '/Mikey/Josh'</p>
        </div>
        <div class="container">
            <h1>Users:</h1>
            <% for(var user of users){%>
                <div class="namecontainer">
                    <p class="name">Name: <%= user.name%></p>
                </div>
            <% }%>
        </div>
    </div>
</body>
</html>