<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1955</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container"><br>
        <div class="jumbotron">
            <h3>A simple API server which communicates directly over URL requests</h3>
            <h1>Instructions:</h1>
            <p>1. To add a new user, type '/new/USERNAME/' ie. '/new/Mikey'</p>
            <p>2. To remove a user, type '/remove/USERNAME/' ie. '/remove/Mikey'</p>
            <p>3. To see a single user, type '/USERNAME/' ie. '/Mikey'</p>
            <p>4. To edit a user's name, type '/USERNAME/NEWNAME' ie. '/Mikey/Josh'</p>
        </div>
        <div class="display container">
            <h1>All users:</h1>
            <% for(var user of users){%>
                <div class="container">
                    <p>Name: <%= user.name%></p>
                </div>
            <% }%>
        </div>
    </div>
</body>
</html>